<div class="dashboard-menu">
  <ul>
    <li>
      <img src="/images/dashboard.png" alt="dashboard">
      <a href="/dashboard">  
        Dashboard
      </a>
    </li>
    <li>
      <img src="/images/anchor_.png" alt="anchor">
      <a href="/catways/list">
        Catways
      </a>
    </li>
    <li>
      <img src="/images/booking.png" alt="reservation">
      <a href="/catways/reservations">
        Reservations
      </a>
    </li>
    <li>
      <img src="/images/user.png" alt="user">
      <a href="/users/list-users">
        Users
      </a>
    </li>
    <li>
      <form action="/auth/logout" method="POST">
        <img src="/images/logout.png" alt="logout">
        <button type="submit">
          Logout
        </button>
      </form>
    </li>
  </ul>
</div>