<nav
  class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top"
>
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="/">Port de Plaisance</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavDropdown"
    >
      <div class="d-flex">
        <ul class="navbar-nav align-self-center d-flex align-self-center">
          <li class="nav-item">
            <a class="nav-link <%= path === '/dashboard' ? 'active' : '' %>" aria-current="page" href="/dashboard">Dashboard</a>
          </li>
          <% if (isAuthenticated) { %>
            <li class="nav-item">
              <a class="nav-link<% if (path === '/catways') { %> active <% } %>" href="/catways/list">Catways</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <% if (path === '/reservations') { %> active <% } %>" href="/catways/reservations">Réservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link<% if (path === '/users') { %> active <% } %>" href="/users/list-users">Users</a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQs</a>
          </li>
        </ul>
      </div>
      <% if (isAuthenticated) { %>
        <div class="d-flex flex-row align-items-center">
          <span class="me-2">Bonjour <%= user.name %></span>
        </div>
      <% } %>
    </div>
    
  </div>
</nav>