<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>

<body class="d-flex flex-column">
  <%- include('includes/navigation.ejs') %>
  <main class="d-flex align-items-center justify-content-center vh-100">
    <section class="main-container">
      <div>
        <h1>Port de Plaisance Russell</h1>
        <p>L'application du Port de Russell Plaisance a été créée pour simplifier la gestion des mouillages dans le port en offrant un moyen pratique de réserver une place pour votre bateau de manière intuitive et rapide. Les utilisateurs peuvent visualiser les catways disponibles, choisir une place et faire une réservation en incluant des détails tels que le nom du bateau et la durée du séjour si nécessaire. Les utilisateurs peuvent également consulter toutes les réservations existantes et accéder aux informations associées à chaque catway spécifique, ce qui permet une organisation efficace et une visualisation claire des espaces du port. S'il est nécessaire d'annuler une réservation, le processus est simple et rapide, offrant flexibilité et commodité à ceux qui utilisent l'application.</p>
        <a href="/auth/login" class="btn btn-success btn-lg" type="button">
          Sign In
        </a>
      </div>
    </section>
  </main>
<%- include('includes/end.ejs') %>