@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --bg-header-container: #cecece;
  --bg-container: #ffffff7a;
  --bg-color-container-aside: #dbdbdb;
  --color-border-container: #b5b0b0;
  --tc-header-container: #3A5062;
  --color-free-card: #65d269;
  --color-occupied-card: #7b8e9c;
  --color-card-hover: #0B5ED7;
  --color-bg-form: #ffffff;
}

body{
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
  ),url('../images/private-yachts-port.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container{
  background-color: rgba(255, 255, 255, 0.521);
  width: 70%;
  padding: 4rem;
  border-radius: 10px;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 4rem;
}

.main-container h1{
  margin-bottom: 2rem;
}

.main-container p{
  margin-bottom: 2rem;
}

.active{
  color: #157347 !important;
}

.flash-message{
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 1000;
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #d1cbcb;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: gray;
}

.flash-message-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1cbcb;
  padding: .5rem;
}

.flash-message-header h3{
  font-size: 1rem;
  margin: 0;
}

.flash-message-success .flash-message-header span{
  height: 18px;
  width: 18px;
  background-color: #21a007;
  border-radius: 5px;
}

.flash-message-error .flash-message-header span{
  height: 18px;
  width: 18px;
  background-color: #eb0f0f;
  border-radius: 5px;
}

.flash-message-body{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-message-body p{
  margin: 0;
}

.section-container{
  background-color: var(--bg-container);
  width: 90%;
  height: 80vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  border: 1px solid var(--color-border-container);
  min-width: 900px;
}

.section-container__header{
  height: 7%;
  background-color: var(--bg-header-container);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--tc-header-container);
  border-bottom: 1px solid var(--color-border-container);

  & img{
    padding-left: .5rem;
  }

  & h1{
    margin: 0;
    font-size: 1.5rem;
    padding-left: .5rem;
  }
}

.section-container__body{
  height: 86%;
  display: flex;
  

  & .body-aside{
    width: 15%;
    background-color: var(--bg-color-container-aside);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
  }

  & .body-content{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
  }
}

.section-container__footer{
  height: 7%;
  background-color: var(--bg-header-container);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-border-container);

  & div:nth-child(1){
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: .5rem;
    width: 45%;

    & span:nth-of-type(1){
      height: 24px;
      width: 24px;
      background-color: var(--color-occupied-card);
      border-radius: 5px;
    }

    & span:nth-of-type(2){
      height: 24px;
      width: 24px;
      background-color: var(--color-free-card);
      border-radius: 5px;
    }
  }

  & div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: right;
    gap: .5rem;
    width: 45%;

    & p{
      margin: 0 1rem 0 0;
    }
  }

  & div:nth-child(3){
    display: flex;
    gap: .5rem;
    width: 10%;
    justify-content: center;

    & p{
      margin: 0 1rem 0 0;
    }
  }
}

.dashboard-menu{
  & ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & li{
      display: flex;
      padding: .5rem;
      justify-content: left;
      width: 100%;

      & a{
        text-decoration: none;
        color: #3A5062;
        margin-left: .5rem;

        &:hover{
          color: #969191;
        }
      }

      & button{
        background-color: transparent;
        border: none;
        color: #3A5062;

        &:hover{
          color: #969191;
        }
      }
    }
  }
}

.add-catway{
  text-decoration: none;
  background-color: var(--bg-color-container-aside);
  & .card-header{
    background-color: var(--bg-header-container);
    color: var(--tc-header-container);
  }

  & .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.button-md{
  width: 75%;
  padding: .3rem;
  text-decoration: none;
  color: #3A5062;
  margin-bottom: .5rem;
  border: 1px solid #3A5062;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: .5rem;

  &:hover{
    color: #ffffff;
    background-color: #3A5062;
    
  }
}
