.section-container__body{

  & .body-content{
    display: flex;
    justify-content: center;
    align-items: center;

    & .body-content__data{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 90%;
      background-color: var(--color-bg-form);
      border-radius: 10px;
      border: 1px solid var(--color-border-container);

      & .body-content__header{
        width: 100%;
        height: 10%;
        background-color: var(--bg-header-container);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        color: var(--tc-header-container);
        border-bottom: 1px solid var(--color-border-container);

        & img{
          padding-left: .5rem;
        }

        & h2{
          margin: 0;
          font-size: 1.5rem;
          padding-left: .5rem;
        }
      }

      & .body-content__body{
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: row;


        & .body-content__aside{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: .5rem;
          padding: .5rem;
          width: 15%;
          background-color: var(--bg-color-container-aside);
          border-right: 1px solid var(--color-border-container);
        }

        & .body-content__users{
          width: 85%;
          height: 100%;
          overflow: auto;
        }
      }

      & .body-content__footer{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-header-container);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: 1px solid var(--color-border-container);
      }
    }
  }
}
